@import "tailwindcss";

#root{
    background-color: to bottom, #12071f, #2f204e;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: blue;
}

.w-max-content {
    width: max-content;
  }
  

  .pItem:nth-child(1){
    background: linear-gradient(to right, #12071f, #210b3a);
  }
  .pItem:nth-child(2){
    background: linear-gradient(to right, #12071f, #210b3a);
  }
  .pItem:nth-child(3){
    background: linear-gradient(to right, #12071f, #210b3a);
  }
  .pItem:nth-child(4){
    background: linear-gradient(to right, #12071f, #210b3a);
  }
  .pItem:nth-child(5){
    background: linear-gradient(to right, #12071f, #210b3a);
  }


.het{
  scroll-snap-align: start;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.profile {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.portfolio {
  position: relative;
  width: 100%;
}